$Primary-color: #FF5733; // color primario de la pagina
$Secondary-color: #C70039; // color secundario de la pagina 
$img-background: url(./files/fondos/fondo-pagina.webp); // imagen de fondo de la pagina
$fuente: 'Arial, sans-serif'; // fuente de la pagina
$fuente-titulo: 'Georgia, serif'; // fuente de los titulos de la pagina
$fuente-secundaria: 'Courier New, monospace'; // fuente secundaria de la pagina+