//grid main//
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr repeat(2, 1fr) auto;
  background-color: #ffeefc;
  background-image: url("../style/fondo-pagina.webp");
  background-size: cover;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.2fr auto auto 0.3fr;
  }
}

@media (max-width: 425px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr auto auto 0.3fr;
  }
}

//grid pag recetas//
.grid__recetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr repeat(11, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #ffeefc;
  background-image: url("../style/fondo-pagina.webp");
  background-size: cover;
}

@media (max-width: 768px) {
  .grid__recetas {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 0.2fr repeat(11, auto);
  }
}

@media (max-width: 425px) {
  .grid__recetas {
    grid-template-columns: auto;
    grid-template-rows: 0.2fr repeat(11, auto);
  }
}